.Calculator{
width:400px;
background-color:hsl(23, 47%, 9%);
overflow: hidden;
border-radius: 10px;
}
.btns{
    display:grid;
    grid-template-columns: auto auto auto auto;
    padding:10px;
    gap:10px;
}
button{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: dimgrey;
    border: none;
   color: white;
   font-size: 19px;
   font-weight: 600;
   cursor: pointer;
}
h2{
    color: black;
    text-decoration-line: underline;
}
button:hover{
background-color:rgb(150, 147, 141);
}
button:active{
    background-color: burlywood;
}
input{
    width:100%;
    background-color:hsl(30, 2%, 37%);
    height:80px;
    border: radius 10px;
   color: white;
   font-size: 50px;
   font-weight: 600;
}   
.btn{
    background-color: orange;
}
.btn:hover{
    background-color:burlywood;
}
.btn:active{
    background-color:rgb(232, 180, 111);
}
